<template>
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <h2 class="mb-5">Yoga Features</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="text-center item">
            <span class="flaticon-001-stone display-3 mb-3 d-block text-primary"></span>
            <h2 class="h5">Peace of Mind</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde temporibus</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="text-center item">
            <span class="flaticon-002-lotus display-3 mb-3 d-block text-primary"></span>
            <h2 class="h5">Mindfullness</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde temporibus</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="text-center item">
            <span class="flaticon-003-meditation display-3 mb-3 d-block text-primary"></span>
            <h2 class="h5">Meditation</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde temporibus</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="text-center item">
            <span class="flaticon-004-carpet display-3 mb-3 d-block text-primary"></span>
            <h2 class="h5">Yoga Carpet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde temporibus</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return { }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
