<template>
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <h2 class="mb-5">Yoga Pricing</h2>
        </div>
      </div>
      <div class="row align-items-stretched">
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="pricing p-5 h-100 text-center bg-image no-border" style="background-image: url('images/img_1.jpg');">
            <div class="pricing-content">
              <div class="text-center mb-4">
                <h3 class="h4 mb-4">New Client Trial Week</h3>
                <strong class="font-weight-normal h1 text-white">$20</strong>
              </div>
              <ul class="list-unstyled mb-5">
                <li>1 week unlimitted classes</li>
                <li>Flexible schedule</li>
                <li>4-week series</li>
                <li>10% off Vinyasa treatment</li>
              </ul>
              <p class="mb-0"><a href="#" class="btn pill btn-outline-white">Join Now</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="pricing p-5 h-100 text-center">
            <div class="text-center mb-4">
              <h3 class="h4 mb-4">10 Days Yoga Class</h3>
              <strong class="font-weight-normal h1">$40</strong>
            </div>
            <ul class="list-unstyled mb-5">
                <li>10 days classes</li>
                <li>Flexible schedule</li>
                <li>4-week series</li>
                <li>10% off Vinyasa treatment</li>
              </ul>
              <p class="mb-0"><a href="#" class="btn pill btn-primary">Join Now</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="pricing p-5 h-100 text-center">
            <div class="text-center mb-4">
              <h3 class="h4 mb-4">20 Days Yoga Class</h3>
              <strong class="font-weight-normal h1">$70</strong>
            </div>
            <ul class="list-unstyled mb-5">
                <li>20 days classes</li>
                <li>Flexible schedule</li>
                <li>4-week series</li>
                <li>10% off Vinyasa treatment</li>
              </ul>
              <p class="mb-0"><a href="#" class="btn pill btn-primary">Join Now</a></p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
          <div class="pricing p-5 h-100 text-center">
            <div class="text-center mb-4">
              <h3 class="h4 mb-4">30 Days Yoga Class</h3>
              <strong class="font-weight-normal h1">$150</strong>
            </div>
            <ul class="list-unstyled mb-5">
                <li>30 days classes</li>
                <li>Flexible schedule</li>
                <li>4-week series</li>
                <li>10% off Vinyasa treatment</li>
              </ul>
              <p class="mb-0"><a href="#" class="btn pill btn-primary">Join Now</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return { }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .pricing {
    border: 1px dashed #ccc;
  }

  .pricing.no-border {
    border: none;
  }

  .pricing.bg-image {
    position: relative;
  }

  .pricing.bg-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(135, 229, 218, 0.9);
    z-index: 2;
  }

  .pricing .pricing-content {
    position: relative;
    z-index: 3;
    color: #fff;
  }

  .pricing .pricing-content h3 {
    color: #fff;
  }

  .pricing .btn {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pricing .btn.btn-primary {
    color: #fff;
  }

  .pricing .btn.btn-outline-white {
    border-color: #fff;
    border-width: 2px;
    color: #fff;
  }

  .pricing .btn.btn-outline-white:hover {
    background: #000;
    color: #fff;
    border-color: #000;
  }

  .pricing .btn.pill {
    border-radius: 30px;
  }
</style>
