<template>
  <div class="site-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 mb-5 mb-md-0">

            <div class="img-border">
              <a v-bind:href="thePage.videoLnk" class="popup-vimeo image-play">
                <span class="icon-wrap">
                  <span class="icon icon-play"></span>
                </span>
                <img :src="baseURL + thePage.thumb" alt="" class="img-fluid rounded">
              </a>
            </div>
            <!--img src="static/images/img_1.jpg" alt="Image" class="img-fluid image-absolute"-->

        </div>
        <div class="col-md-5 ml-auto">

          <div class="section-heading text-left">
            <h2 class="mb-5">{{ thePage.title }}</h2>
          </div>
          <p class="mb-4" v-html="thePage.body"></p>
          <p><a v-bind:href="thePage.videoLnk" class="popup-vimeo text-uppercase">Watch Video <span class="icon-arrow-right small"></span></a></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: [
    'baseURL',
    'contentID'
  ],
  data () {
    return {
      thePage: []
    }
  },
  async created () {
    const { data: pageData } = await axios.get(this.baseURL + 'jsonapi/paragraph/video_box/' + this.contentID + '?include=field_video_thumbnail')
    this.thePage = {
      title: pageData.data.attributes.field_video_title,
      body: pageData.data.attributes.field_video_body.value,
      thumb: pageData.included[0].attributes.url,
      thumbAlt: pageData.data.relationships.field_video_thumbnail.data.meta.alt,
      videoLnk: pageData.data.attributes.field_video_link.uri
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .image-play img {
    height: 400px;
    width: auto
  }

  .image-absolute {
    position: absolute;
    width: 50%;
    right: 0;
    border: 7px solid #fff;
    z-index: 9;
    bottom: -50px;
  }
</style>
