<template>
  <footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <h3 class="footer-heading mb-4 text-white">About</h3>
          <p>A community-driven yoga studio focused on providing the highest quality yoga, with world class teachers in an inspiring location.</p>
          <p><router-link :to="'/' + menuArr[4].alias" class="btn btn-primary pill text-white px-4">Read More</router-link></p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                <ul class="list-unstyled">
                  <li v-for="link in menuArr" :key="link.id"><router-link :to="'/' + link.alias">{{ link.title }}</router-link></li>
                  <li><a :href="this.editLink">Edit This Page</a></li>
                </ul>
            </div>
            <div class="col-md-6">
              <h3 class="footer-heading mb-4 text-white">Affiliates</h3>
                <ul class="list-unstyled">
                  <li><a href="http://warrior1yogaspa.com/">Warrior 1 Yoga</a></li>
                  <li><a href="http://www.samsarawellnesscenter.com/">Samsara Wellness Center</a></li>
                  <li><a href="http://www.innerbodyworks.com/">Inner Body Works Studio</a></li>
                  <li><a href="http://www.in-n-out.com/">In-n-Out</a></li>
                  <li><a href="https://www.bk.com/">Burger King</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Social Icons</h3></div>
            <div class="col-md-12">
              <p>
                <a href="http://www.facebook.com/" class="p-2"><span class="icon-facebook"></span></a>
                <a href="http://www.twitter.com/" class="p-2"><span class="icon-twitter"></span></a>
                <a href="http://www.instagram.com/" class="p-2"><span class="icon-instagram"></span></a>
                <a href="http://www.youtube.com/" class="p-2"><span class="icon-vimeo"></span></a>
              </p>
            </div>
        </div>
      </div>

    </div>
  </footer>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'

export default {
  props: [
    'baseURL'
  ],
  data () {
    return {
      menuArr: [],
      editLink: ''
    }
  },
  watch: {
    '$route.params': {
      handler () {
        this.getContent()
      },
      immediate: true
    }
  },
  async created () {
    this.getContent()
  },
  methods: {
    getContent: async function () {
      const { data: menuData } = await axios.get(this.baseURL + 'api/menu_items/main')
      this.menuArr = menuData

      const { data: pageData } = await axios.get(this.baseURL + 'jsonapi/node/page/?filter[field_fieldable_path][value]=' + this.$route.path)
      this.editLink = this.baseURL + 'node/' + _.get(pageData, 'data[0].attributes.nid', 0) + '/edit'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .site-footer {
    padding: 4em 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
  }

  .site-footer:before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .site-footer .footer-heading {
    font-size: 20px;
  }

  .site-footer a {
    color: rgba(255, 255, 255, 0.3);
  }

  .site-footer a:hover {
    color: #fff;
  }

  .site-footer ul li {
    margin-bottom: 10px;
  }
</style>
