<template>
  <div class="site-section">
    <div class="">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <h2 class="mb-5">{{ thePics.title }}</h2>
        </div>
      </div>
      <div class="row no-gutters">

        <div class="col-md-6 col-lg-3" v-for="img in thePics.imgArr" :key="img.id">
          <template v-if="img.type === 'file--file'">
            <a :href="baseURL + img.attributes.url" class="img-opacity" data-lightbox="roadtrip"><img :src="baseURL + img.attributes.url" :alt="img.id" class="img-fluid"></a>
          </template>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: [
    'baseURL',
    'contentID'
  ],
  data () {
    return {
      thePics: []
    }
  },
  async created () {
    const { data: pageData } = await axios.get(this.baseURL + 'jsonapi/paragraph/photo_gallery/' + this.contentID + '?include=field_gallery_photo,field_gallery_photo.field_photo')

    this.thePics = {
      title: pageData.data.attributes.field_gallery_title,
      imgArr: pageData.included,
      block: pageData
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  img {
    max-height: 200px;
    width: 100%;
  }
</style>
