<template>
  <div class="slide-one-item home-slider owl-carousel">

    <div class="site-blocks-cover overlay" :style="{ backgroundImage: `url('${thePage.heroImg}')` }" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center" data-aos="fade">
            <h2 class="caption mb-2">{{ thePage.subtitle }}</h2>
            <h1 class="">{{ thePage.pageTitle }}</h1>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: [
    'baseURL'
  ],
  data () {
    return {
      thePage: []
    }
  },
  watch: {
    '$route.params': {
      handler () {
        this.getContent()
      },
      immediate: true
    }
  },
  async created () {
    this.getContent()
  },
  methods: {
    getContent: async function () {
      const { data: pageData } = await axios.get(this.baseURL + 'jsonapi/node/page/?filter[field_fieldable_path][value]=' + this.$route.path + '&include=field_hero_image')
      this.thePage = {
        pageTitle: pageData.data[0].attributes.title,
        subtitle: pageData.data[0].attributes.field_subtitle,
        heroImg: this.baseURL + '/' + pageData.included[0].attributes.url
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
