<template>
    <div class="site-navbar-wrap js-site-navbar bg-white">
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="py-1">
            <div class="row align-items-center">
              <div class="col-2">
                <h2 class="mb-0 site-logo"><a href="/project">Yoga Works</a></h2>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">

                    <div class="d-inline-block d-lg-none  ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>
                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                      <li v-for="link in menuArr" :key="link.id" :class="thisLink === link.relative ? 'active' : ''"><router-link :to="'/' + link.alias">{{ link.title }}</router-link></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  props: [
    'baseURL'
  ],
  data () {
    return {
      menuArr: [],
      thisLink: ''
    }
  },
  watch: {
    '$route.params': {
      handler () {
        this.getContent()
      },
      immediate: true
    }
  },
  async created () {
    this.getContent()
  },
  methods: {
    getContent: async function () {
      const { data: menuData } = await axios.get(this.baseURL + 'api/menu_items/main')
      this.menuArr = menuData
      this.thisLink = this.$route.path
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .site-navbar-top, .site-navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .site-navbar {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: none;
    background: transparent !important;
  }

  .site-navbar .site-logo {
    font-weight: 200;
    font-family: "Playfair Display";
  }

  .site-navbar .site-logo a {
    font-weight: 200;
    font-size: 26px;
  }

  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
  }

  .site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
  }

  .site-navbar .site-navigation .site-menu > li {
    display: inline-block;
    padding: 10px 5px;
  }

  .site-navbar .site-navigation .site-menu > li > a {
    padding: 10px 10px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none !important;
  }

  .site-navbar .site-navigation .site-menu > li:last-child {
    padding-right: 0;
  }

  .site-navbar .site-navigation .site-menu > li:last-child > a {
    padding-right: 0;
  }

  .site-navbar .site-navigation .site-menu > li.active > a {
    color: #fff !important;
  }

  .site-navbar .site-navigation .site-menu .has-children {
    position: relative;
  }

  .site-navbar .site-navigation .site-menu .has-children > a {
    position: relative;
    padding-right: 20px;
  }

  .site-navbar .site-navigation .site-menu .has-children > a:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    border-radius: 7px;
    position: absolute;
    text-align: left;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
    padding: 10px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #000;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
    position: absolute;
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    bottom: 100%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #000;
    border-width: 7px;
    margin-left: -7px;
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown a {
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #fff;
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
    color: #87e5da !important;
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
    padding: 5px 20px;
    display: block;
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
    color: #87e5da;
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
    content: "\e315";
    right: 20px;
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
    left: 100%;
    top: 0;
  }

  .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
    color: #87e5da;
  }

  .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
    color: #fff;
  }

  .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
  }

  .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
  }

  .site-navbar-wrap {
    background: transparent !important;
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 113px;
    left: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }

  .site-navbar-wrap .site-menu-toggle span {
    color: #fff;
  }

  .site-navbar-wrap .site-navbar .site-logo a {
    color: #fff;
  }

  .site-navbar-wrap .site-navbar .site-navigation .site-menu > li > a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
  }

  .site-navbar-wrap .site-navbar .site-navigation .site-menu > li > a:hover {
    color: #fff;
  }

  .site-navbar-wrap.scrolled {
    z-index: 99;
    padding: 0px 0;
    -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
    background: #fff !important;
  }

  .site-navbar-wrap.scrolled .site-menu-toggle span {
    color: #000;
  }

  .site-navbar-wrap.scrolled .site-logo a {
    color: #000;
  }

  .site-navbar-wrap.scrolled .site-navbar .site-navigation .site-menu > li > a {
    color: rgba(0, 0, 0, 0.6);
  }

  .site-navbar-wrap.scrolled .site-navbar .site-navigation .site-menu > li > a:hover {
    color: #000;
  }

  .site-navbar-wrap.scrolled .site-navbar .site-navigation .site-menu > li.active > a {
    color: #87e5da !important;
  }
</style>
