<template>
  <div>
    <!-- JumboTron -->
    <jumbotron :baseURL="baseURL" />

    <div class="container-fluid bodyContent">
      <div class="row">
        <div class="col-md-10 offset-md-1" v-html="thePage.body">
        </div>
      </div>
    </div>

    <section v-for="block in thePage.paragraphs" v-bind:key="block.id">
      <!-- Paragraph:  Text Box -->
      <template v-if="block.type === 'paragraph--text_box'">
        <text-box :contentID="block.id" :baseURL="baseURL" />
      </template>

      <!-- Paragraph:  Video Box -->
      <template v-else-if="block.type === 'paragraph--video_box'">
        <cta-video :contentID="block.id" :baseURL="baseURL" />
      </template>

      <!-- Paragraph:  Photo Gallery -->
      <template v-else-if="block.type === 'paragraph--photo_gallery'">
        <gallery :contentID="block.id" :baseURL="baseURL" />
      </template>

      <!-- Paragraph:  Small Slider Entry -->
      <template v-else-if="block.type === 'paragraph--testimonial'">
        <slide-text-sm :contentID="block.id" :baseURL="baseURL" />
      </template>
    </section>

    <!--upcoming-events />
    <testimonials /-->
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'

import jumbotron from '@/components/jumbotron'
import TextBox from '@/components/TextBox'
import ctaVideo from '@/components/ctaVideo'
import gallery from '@/components/gallery'
import slideTextLg from '@/components/slideTextLg'
import slideTextSm from '@/components/slideTextSm'

export default {
  props: [
    'baseURL'
  ],
  components: {
    jumbotron,
    TextBox,
    ctaVideo,
    gallery,
    slideTextLg,
    slideTextSm
  },
  data () {
    return {
      thePage: []
    }
  },
  watch: {
    '$route.params': {
      handler () {
        this.getContent()
      },
      immediate: true
    }
  },
  async created () {
    this.getContent()
  },
  methods: {
    getContent: async function () {
      const { data: pageData } = await axios.get(this.baseURL + 'jsonapi/node/page/?filter[field_fieldable_path][value]=' + this.$route.path + '&include=field_content')
      this.thePage = {
        paragraphs: _.get(pageData, 'included')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .bodyContent {
    display: block;
    padding: 35px 0;
    background: #f8f9fa;
  }
</style>
