<template>
  <div class="site-section block-14 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <h2>{{ thePage.sectionTitle }}</h2>
        </div>
      </div>

      <div class="nonloop-block-14 owl-carousel" v-for="comment in thePage.comments" :key="comment.id">
        <div class="p-4">
          <div class="d-flex block-testimony">
            <div>
              <h2 class="h5">{{ comment.attributes.field_title }}</h2>
              <blockquote>&ldquo; {{ comment.attributes.field_paragraph_body }} &rdquo;</blockquote>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="nonloop-block-14 owl-carousel">
        <div class="p-4">
          <div class="d-flex block-testimony">
            <div class="person mr-3">
              <img src="static/images/person_1.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div>
              <h2 class="h5">Katie Johnson</h2>
              <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
            </div>
          </div>
        </div>
        <div class="p-4">
          <div class="d-flex block-testimony">
            <div class="person mr-3">
              <img src="static/images/person_2.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div>
              <h2 class="h5">Jane Mars</h2>
              <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
            </div>
          </div>
        </div>
        <div class="p-4">
          <div class="d-flex block-testimony">
            <div class="person mr-3">
              <img src="static/images/person_3.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div>
              <h2 class="h5">Shane Holmes</h2>
              <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
            </div>
          </div>
        </div>
        <div class="p-4">
          <div class="d-flex block-testimony">
            <div class="person mr-3">
              <img src="static/images/person_4.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div>
              <h2 class="h5">Mark Johnson</h2>
              <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: [
    'baseURL',
    'contentID'
  ],
  data () {
    return {
      thePage: []
    }
  },
  async created () {
    const { data: pageData } = await axios.get(this.baseURL + 'jsonapi/paragraph/testimonial/' + this.contentID + '?include=field_block')
    this.thePage = {
      sectionTitle: pageData.data.attributes.field_title,
      comments: pageData.included
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .owl-carousel {
    display: inherit
  }
</style>
