<template>
  <div class="site-section block-15">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <h2>Upcoming Events</h2>
        </div>
      </div>

      <div class="nonloop-block-15 owl-carousel">

          <div class="media-with-text p-md-5">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="images/img_1.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
            <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
          </div>

          <div class="media-with-text p-md-4">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="images/img_2.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
            <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
          </div>

          <div class="media-with-text p-md-4">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="images/img_3.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
            <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
          </div>

          <div class="media-with-text p-md-4">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="images/img_1.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
            <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
          </div>

          <div class="media-with-text p-md-4">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="images/img_2.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
            <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
          </div>

          <div class="media-with-text p-md-4">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="images/img_3.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
            <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
          </div>

          <div class="media-with-text p-md-4">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="images/img_1.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
            <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
          </div>

          <div class="media-with-text p-md-4">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="images/img_2.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
            <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
          </div>

          <div class="media-with-text p-md-4">
            <div class="img-border-sm mb-4">
              <a href="#" class="popup-vimeo image-play">
                <img src="images/img_3.jpg" alt="" class="img-fluid">
              </a>
            </div>
            <h2 class="heading mb-0"><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
            <span class="mb-3 d-block post-date">Dec 20th, 2018 &bullet; By <a href="#">Admin</a></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores culpa qui aliquam placeat nobis veritatis tempora natus rerum obcaecati.</p>
          </div>

      </div>

    </div>
  </div>
</template>

<script>
export default {
  data () {
    return { }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
