<template>
  <div class="container-fluid">

    <!-- 1 column - No Image -->
    <template v-if="thePage.layout === 1">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="font-family-serif">{{ thePage.title }}</h2>
          <p class="mb-5" v-html="thePage.body"></p>
        </div>
      </div>
    </template>

    <!-- 2 column - Image Left -->
    <template v-else-if="thePage.layout === 2">
      <div class="row" v-if="hasImg">
        <div class="col-md-5 offset-md-1 decImg">
          <img :src="baseURL + thePage.theImg" alt="" />
        </div>
        <div class="col-md-5">
          <h2 class="font-family-serif">{{ thePage.title }}</h2>
          <p class="mb-5" v-html="thePage.body"></p>
        </div>
      </div>
      <div class="row" v-else>
        <div class="col-md-10 offset-md-1 columns columns-2">
          <h2 class="font-family-serif">{{ thePage.title }}</h2>
          <p class="mb-5" v-html="thePage.body"></p>
        </div>
      </div>
    </template>

    <!-- 2 column - Image Right -->
    <template v-else-if="thePage.layout === 3">
      <div class="row" v-if="hasImg">
        <div class="col-md-5 offset-md-1">
          <h2 class="font-family-serif">{{ thePage.title }}</h2>
          <p class="mb-5" v-html="thePage.body"></p>
        </div>
        <div class="col-md-5 decImg">
          <img :src="baseURL + thePage.theImg" alt="" />
        </div>
      </div>
      <div class="row" v-else>
        <div class="col-md-10 offset-md-1 columns columns-2">
          <h2 class="font-family-serif">{{ thePage.title }}</h2>
          <p class="mb-5" v-html="thePage.body"></p>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'

export default {
  props: [
    'baseURL',
    'contentID'
  ],
  data () {
    return {
      hasImg: false,
      thePage: []
    }
  },
  async created () {
    const { data: pageData } = await axios.get(this.baseURL + 'jsonapi/paragraph/text_box/' + this.contentID + '?include=field_image')

    this.thePage = {
      title: pageData.data.attributes.field_title,
      body: pageData.data.attributes.field_body.processed,
      layout: pageData.data.attributes.field_layout
    }

    if (_.get(pageData, 'included[0]', '')) {
      this.hasImg = true
      this.thePage = {
        title: pageData.data.attributes.field_title,
        body: pageData.data.attributes.field_body.processed,
        layout: pageData.data.attributes.field_layout,
        theImg: pageData.included[0].attributes.url,
        theAlt: pageData.data.relationships.field_image.data.meta.alt
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .full {
    width: 100%;
  }

  .decImg {
    width: 400px;
  }

  .decImg + div {
    padding-left: 15px
  }

  .decImg img {
    max-height: 100%;
    max-width: 100%;
  }

  .columns {
    min-height: 150px;
  }

  .columns-2 {
    column-count: 3;
  }

  .columns-3 {
    column-count: 3;
  }
</style>
