<template>
  <div class="site-wrap">
    <mobile-menu :baseURL="baseURL" />
    <navigation :baseURL="baseURL" />
    <router-view :baseURL="baseURL" />
    <the-footer :baseURL="baseURL" />
  </div>
</template>

<script>
import mobileMenu from '@/components/mobileMenu'
import navigation from '@/components/navigation'
import theFooter from '@/components/footer'
export default {
  name: 'App',
  components: {
    mobileMenu,
    navigation,
    theFooter
  },
  data () {
    return {
      baseURL: 'http://54.208.131.148/'
    }
  }
}
</script>

<style>

</style>
